.dice-wrapper {
  background: url('img/d4.svg') no-repeat center;
  color: white;
  font-size: 3em;
  min-height: 150px;
  width: 200px;
  text-align: center;
  position: relative;
  vertical-align: middle;

  .dice-text {
    position: absolute;
    top: 50%;
    margin: 0 auto;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}